<%= form_for [:admin, @unit] do |f| %>
  <%#= f.error_messages %>

  <div class="name">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="buttonbar">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
