<% title 'Units' %>

<%= turbo_stream_from [:admin, :units] %>

<%= turbo_frame_tag :units %>

<table class="admin">
  <tr>
    <th>Expression</th>
    <th>UCUM</th>
    <th>SI</th>
    <th>Conversion Factor</th>
    <th></th>
  </tr>
  <%= render @units %>
</table>

<p><%= link_to 'New Unit', new_admin_unit_path %></p>
