<% title "Unit" %>

<p>
  <strong>Name:</strong>
  <%=h @unit.name %>
</p>

<p>
  <%= link_to "Edit", edit_admin_unit_path(@unit) %> |
  <%= link_to "Destroy", [:admin, @unit], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_units_path %>
</p>
