<% title 'Lab Test Values' %>

<%= turbo_stream_from [:admin, :lab_test_values] %>

<%= turbo_frame_tag :lab_test_values %>

<table>
  <tr>
    <th>Qualitative Value</th>
    <th>Interpretation</th>
    <th>LOINC</th>
    <th>SNOMED CT</th>
    <th>Quantitative?</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @lab_test_values %>
</table>

<%= link_to 'New Lab Test Value', new_admin_lab_test_value_path %>
