<% title 'Doctors' %>

<%= turbo_stream_from [:admin, :doctors] %>

<%= turbo_frame_tag :doctors %>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @doctors %>
</table>

<p><small>
  <strong>Note</strong>: Highlighted items can be safely erased.
</small></p>

<%= link_to 'New Doctor', new_admin_doctor_path %>
