<div id="header">
  <div id="welcome">
    <%= link_to current_username, profile_path %> |
    <%= link_to "Back to OpenLIS", root_path %> |
    <%= button_to t('.logout'), destroy_user_session_path, method: :delete, class: 'welcome', data: { turbo_method: :delete } %>

  </div>
  <h3><%= link_to "MasterLab", root_path, data: { turbo: false } %></h3>
</div>
