<div id="tabs">
  <%# navigation [:admin_users, t('.users')], [:admin_doctors, t('.doctors')], [:admin_insurance_providers, t('.insurance_providers')], [:admin_departments, t('.departments')], [:admin_lab_tests, t('.lab_tests')], [:admin_panels, t('.panels')], [:admin_units, t('.units')], [:admin_lab_test_values, t('.lab_test_values')], [:admin_qualified_intervals, t('.qualified_intervals')] %>
  <%= navigation [:admin_doctors, t('.doctors')], [:admin_departments, t('.departments')], [:admin_lab_tests, t('.lab_tests')], [:admin_panels, t('.panels')], [:admin_units, t('.units')], [:admin_lab_test_values, t('.lab_test_values')], [:admin_qualified_intervals, t('.qualified_intervals')] %>
</div>

<div id="flash" class="flash">
  <%= render 'layouts/flash' %>
</div>
