<div class='sidebar'>
  <% if @patient %>
    <%= render @patient %>
  <% end %>

  <div class="panel" id="recent">
    <div class="caption"><%= t('.recent_patients') %></div>
    <ul>
      <% for patient in @recent %>
        <li>
          <dt><%= link_to truncate(patient.full_name, :length => 15), patient_accessions_path(patient), :title => patient.full_name %></dt>
          <tt><%= t('.patient') %></tt>
        </li>
      <% end %>
    </ul>
  </div>
</div>
