<%= render partial: 'patients/card' if @patient %>

<% if @recent %>
  <div class="panel" id="recent">
    <div class="caption"><%= t('.recent_patients') %></div>
    <% cache @recent do %>
      <ul>
        <%= render partial: 'shared/recent_patients',
          collection: @recent, as: :patient, cached: true %>
      </ul>
    <% end %>
  </div>
<% end %>
