<div class='sidebar'>
  <% if @patient %>
    <%= render partial: 'patients/card', locals: { patient: @patient } %>
  <% end %>

  <% if @recent %>
    <div class="panel" id="recent">
      <div class="caption"><%= t('.recent_patients') %></div>
      <ul>
        <%= render partial: 'shared/recent_patients',
          collection: @recent, as: :patient, cached: true %>
      </ul>
    </div>
  <% end %>
</div>
