<% title t('.title') %>

<% if @patient %>
  <div class='title_tools'>
    <%= link_to t('.order_tests'), new_patient_accession_path(@patient) %>
  </div>
  <div class='title'><%= @patient.full_name %></div>
<% end %>

<div class='list' id="requisitions">
  <%= render "accessions" %>
</div>
