* { margin: 0; padding: 0; }

body.login {
  font: 11px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
  background: whitesmoke;
}

.login-form {
  margin-left: 8px;
  padding: 16px 16px 40px 16px;
  font-weight: normal;
  -moz-border-radius: 11px;
  -khtml-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  background: #fff;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
  -webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
  -khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
  box-shadow: rgba(200,200,200,1) 0 4px 18px;
}

.login-form p {
  margin-bottom: 0;
}

h1 a {
  background: rgba(0,0,0,0) image-url("logo.svg") no-repeat center center;
  width: 326px;
  height: 130px;
  text-indent: -9999px;
  overflow: hidden;
  padding-bottom: 15px;
  display: block;
}

h3 {
  background: rgba(0,0,0,0) image-url("shield-lock.svg") no-repeat center center;
  text-align: center;
  height: 100px;
  overflow: hidden;
  display: block;
  color: #777;
  font-size: 18px;
  font-weight: normal;
}

#login { width: 320px; margin: 7em auto; }

.alerts, .errors {
  margin: 0 0 16px 8px;
  color: rgb(51, 51, 51);
  border-width: 1px;
  border-style: solid;
  padding: 12px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.alerts {
  background-color: rgb(252, 248, 227);
  border-color: rgb(250, 235,204);
}

.errors {
  background-color: rgb(255, 235, 232);
  border-color: #f40011;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.hidden {
  display: none; }

label {
  color: #777;
  font-size: 13px;
}

.message {
  color: #777;
  font-size: 13px;
  text-align: center;
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  font-size: 24px;
  width: 97%;
  padding: 3px;
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 16px;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: rgba(153, 51, 153, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(153, 51, 153, 0.6);
  outline: 0 none;
}

.submit {
  -webkit-appearance: none;
  float: right;
  font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
  padding: 3px 10px;
  font-size: 12px;
  color: #fff;
  background-color: #993399;
  border-width: 1px;
  border-style: solid;
  border-color: #993399;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin-top: -3px;
}

.submit:disabled {
  background-color: #99339933;
  border-color: #99339933;
  cursor: not-allowed;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
