<p>
  <%= t(".opening_#{@accession.patient.gender}",
        full_name: full_name(@accession.patient)) %>
</p>

<p>
<% case @accession.status
  when 'preliminary' %>
  <%= t('.body_preliminary') %>
<% when 'partial' %>
  <%= t('.body_partial') %>
<% else %>
  <%= t('.body') %>
<% end %>
</p>
