<div class="nickname">
  <%= webauthn_credential.nickname %>
</div>

<div class="em-dash"></div>

<div class="external-id">
  <%= t('.registered_on', date: l(webauthn_credential.created_at.to_date, format: :with_month_name)) %>
</div>

<div class="delete" >
  <%= link_to t('.delete'), settings_webauthn_credential_path(webauthn_credential.id), method: :delete, data: { confirm: t('.confirm_destroy') } %>
</div>
