<div class="price">
  <div class="price_list_id">
    <%= form.label :price_list_id %>
    <%= form.collection_select :price_list_id, PriceList.all, :id, :name, include_blank: true %>
  </div>

  <div class="amount">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>
</div>
