<% title 'Edit Panel' %>

<%= turbo_frame_tag [:admin, @panel] do %>
  <%= render 'form' %>
<% end %>

<p>
  <%= link_to 'Show', admin_panel_path(@panel) %> |
  <%= link_to 'View All', admin_panels_path %>
</p>
