<% title 'Panels' %>

<%= turbo_stream_from [:admin, :panels] %>

<%= turbo_frame_tag :panels %>

<fieldset>
<table class="admin">
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>CPT</th>
    <th>LOINC</th>
    <th>Description</th>
    <th>Lab Tests</th>
    <th></th>
    <th></th>
  </tr>
  <%= render @panels %>
</table>
</fieldset>

<p><%= link_to 'New Panel', new_admin_panel_path %></p>
