<% title 'Insurance Providers' %>

<%= turbo_stream_from [:admin, :insurance_providers] %>

<%= turbo_frame_tag :insurance_providers %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @insurance_providers %>
</table>

<%= link_to 'New Insurance Provider', new_admin_insurance_provider_path %>
