<% title 'Claims' %>

<h2>Pending Claims</h2>

<div class='list' id="pending_accessions">
  <%= render 'unsubmitted_claims' %>
</div>

<br/>

<h2>Submitted Claims</h2>

<div class='list' id="claims">
  <%= render 'claims' %>
</div>
