<div id="tabs">
  <%= navigation [:patients, t('.patients')], [:accessions, t('.requisitions')], [:diagnostic_reports, t('.diagnostic_reports')], [:quotes, t('.quotes')] %>
</div>

<div id="flash" class="flash">
  <%= render 'layouts/flash' %>
</div>

<%= yield(:nav) %>
