<!DOCTYPE html>
<html>
<head>
<style>
  body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    line-height: 1.5rem;
    color: #373a3c;
    background-color: #fff;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  address {
    margin-bottom: 1rem;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  footer {
    font-size: 0.75rem;
    line-height: 1rem;
  }
</style>
</head>
<body>
<%= yield %>

&mdash;<br />

<address>
  <strong>MasterLab &mdash; Laboratorio Clínico Especializado</strong>
  <br>
  Villa Lucre, Centro Médico San Judas Tadeo, Local 107
  <br>
  Tel.: 222-9200 ext. 1107
  <br>
  Fax: 277-7832
  <br>
  Móvil: 6869-5210
  <br>
  Email: masterlab@labtecsa.com
</address>

<footer>
<strong>Aviso de Confidencialidad</strong>: La información adjunta a esta transmisión es propiedad privada y confidencial del remitente, y el material es una comunicación privilegiada destinada únicamente a la persona indicada. Si usted no es el destinatario previsto, se le notifica que cualquier revisión, divulgación, copia, distribución o cualquier otra acción relacionada con el contenido de esta transmisión está estrictamente prohibida. Si ha recibido esta transmisión por error, notifíquenos de inmediato a masterlab@labtecsa.com.
</footer>
</body>
</html>
